
@{
    ViewData["Title"] = "Colours";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<h1>Colours</h1>

<div id="idBalls">
</div>

<br />

<div class="row">
    <div class="flex-column col-xl-auto groundedcard ginputcontainer">
        <div class="gcontainer">
            
            <form name="configform" action="" method="get">
                Colours API URL:
                <input type="text" name="urltoapi" value="" />
                <p>
                    <input type="button" name="idButStart" value="Start" onclick="doStart(this.form)" />
                </p>  
            </form>
            
            <p>
                With thanks to <a href="https://github.com/markharrisonuk/Lab_Functions/blob/master/functions-1.md">Mark Harrison's excellent functions lab</a>.
            </p>
        </div>
    </div>
</div>

<script>

    var APIUrl = "";
    var iBalls = 500;
    var iMaxPollTimer = 60000;

    function ColorTrigger(x) {

        $.ajax({
            url: APIUrl,
            success: function (data) {
                $('#idBall' + x.toString()).css({ fill: data });

                var iDelay = Math.ceil(Math.random() * iMaxPollTimer);
                setTimeout(function (xx) { ColorTrigger(xx) }, iDelay, x);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                var errDetails = "Error using " + APIUrl + "\n";
                errDetails += "Error Thrown: " + errorThrown + "\n";
                errDetails += "Status: " + textStatus + "\n";
                //errDetails += "Status Code: " + XMLHttpRequest.statusCode + "\n";
                errDetails += "Status: " + XMLHttpRequest.status + "\n";
                errDetails += "Status Text: " + XMLHttpRequest.statusText + "\n";
                errDetails += "Response Text: " + XMLHttpRequest.responseText;
                
                alert(errDetails)
            }
        });
    }

    function doStart(form) {

        APIUrl = form.urltoapi.value;
        
        var iDelay = 0;
        for (var i = 0; i < iBalls; i++) {
            iDelay = Math.ceil(Math.random() * iMaxPollTimer);
            setTimeout(function (xx) { ColorTrigger(xx) }, iDelay, i);
        }
    }

    function doDefaultReady() {
        var vHTML = "";

        for (var i = 0; i < iBalls; i++) {
            vHTML += "<svg height='30' width='30'><circle id='idBall" + i.toString() + "' cx='15' cy='15' r='12' stroke='black' stroke-width='1' fill='white' /></svg>";
        }

        $("#idBalls").append(vHTML);

    }

    $(document).ready(function () {
        doDefaultReady();
    });

</script>
