@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 id="HomeHeading" class="display-4">My Resources</h1>
</div>

<div class="row">
    <div class="flex-column col-xl-auto groundedcard">
        <div class="gcontainer">
            <h2 class="h2">Slides</h2>
            <p><a target="_blank" href="https://1drv.ms/p/s!Aio3rS2ZSnbL1oIDhdbomngYhhz5EA">Azure Application Development</a></p>
            <p><a target="_blank" href="https://1drv.ms/p/s!Aio3rS2ZSnbL1oEndA9U2YJCVhU6xw">Azure DevOps</a></p>
            <p><a target="_blank" href="https://1drv.ms/p/s!Aio3rS2ZSnbL1oIEL8BNhxsKDXruzQ">Migrating Apps using Containers</a></p>
            <p><a target="_blank" href="https://1drv.ms/p/s!Aio3rS2ZSnbL1oFRsCc09MuFCXbBGQ">Microsoft's journey to DevOps</a></p>
        </div>
    </div>

    <div class="flex-column col-xl-auto groundedcard">
        <div class="gcontainer">
            <h2 class="h2">Hands on Labs</h2>
            <p><a target="_blank" href="https://github.com/gidavies/AzureDevOpsLab">Azure DevOps</a></p>
            <p><a target="_blank" href="https://github.com/gidavies/MovingToInfraAsCodeLab">Infrastructure as Code</a></p>
            <p><a target="_blank" href="https://github.com/gidavies/SentimentLogicAppLab">Logic Apps</a></p>
        </div>
    </div>

    <div class="flex-column col-xl-auto groundedcard">
        <div class="gcontainer">
            <h2 class="h2">Azure Training</h2>
            <p><a target="_blank" href="https://www.pluralsight.com/partners/microsoft/azure?aid=7010a000001xDURAA2">Free Pluralsight Azure training</a></p>
            <p><a target="_blank" href="https://docs.microsoft.com/en-us/learn/">Microsoft Learn, free role based learning</a></p>
            <p><a target="_blank" href="https://www.microsoft.com/en-us/learning/certification-overview.aspx">Role based certifications</a></p>
        </div>
    </div>
</div>

<div class="row">

    <div class="flex-column col-xl-auto groundedcard">
        <div class="gcontainer">
            <h2 class="h2">Blog Posts</h2>
            <p><a target="_blank" href="https://blogs.msdn.microsoft.com/ukhybridcloud/2018/03/19/azure-devops-automate-app-service-slot-swaps-in-your-vsts-release-pipeline/">Automate App Service slot swaps in your release pipeline</a></p>
            <p><a target="_blank" href="https://blogs.msdn.microsoft.com/ukhybridcloud/2018/04/29/azure-devops-use-vsts-conditions-to-control-build-or-release-flow/">Use conditions to control build or release flows</a></p>
            <p><a target="_blank" href="https://blogs.msdn.microsoft.com/ukhybridcloud/2018/07/19/your-cloud-shell-session-will-be-ephemeral/">Your Cloud Shell session will be ephemeral</a></p>
            <p><a target="_blank" href="https://blogs.msdn.microsoft.com/ukhybridcloud/2018/08/10/building-an-azure-event-grid-app-part1-event-grid-topic-and-a-net-core-custom-app-event-publisher/">Building an Azure Event Grid app</a></p>
        </div>
    </div>

    <div class="flex-column col-xl-auto groundedcard">
        <div class="gcontainer">
            <h2 class="h2">Webinars</h2>
            <p><a target="_blank" href="https://info.microsoft.com/UK-AZUREPLAT-WBNR-FY19-01Jan-17-ECMWebinarANS-AID-757675-MCW0011004_02OnDemandRegistration-ForminBody.html">Taking advantage of the cloud for dev and test environments</a></p>
            <p><a target="_blank" href="https://info.microsoft.com/UK-AZUREPLAT-WBNR-FY19-01Jan-31-ECMWebinarANS-AID-757675-MCW0011007_02OnDemandRegistration-ForminBody.html">Managing your work with Azure Boards and Azure Test Plans</a></p>
            <p><a target="_blank" href="https://info.microsoft.com/UK-AZUREPLAT-WBNR-FY19-02Feb-14-ReducingresponsibilitieswithPlatformasaService-AID-757675-MCW0011097_02OnDemandRegistration-ForminBody.html">Reducing your responsibilities with Platform as a Service</a></p>
            <p><a target="_blank" href="https://info.microsoft.com/UK-AZUREPLAT-WBNR-FY19-02Feb-28-FocusingpurelyonyoursolutionwithServerlessScreenMedia-AID-757675-MCW0011099_02OnDemandRegistration-ForminBody.html">Focusing purely on your solution with Serverless</a></p>
            <p><a target="_blank" href="https://info.microsoft.com/UK-AZUREPLAT-WBNR-FY19-03Mar-14-DeliveringvaluecontinuouslytoyourenduserswithDevOps-AID-757675-MCW0011124_02OnDemandRegistration-ForminBody.html">Delivering value continuously to your end users with DevOps</a></p>
        </div>
    </div>

</div>
