@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

<style>
    .gcard {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 40%;
    }

    .gcard:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .gcontainer {
        padding: 2px 16px;
    }

    .groundedcard {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      border-radius: 15px; /* rounded corners */
      padding: 20px 20px
    }

    .groundedcard:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
</style>

<div class="text-left">
    <h1 id="HomeHeading" class="display-4">My Favourite Resources</h1>
    <p>
        Built with <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a>
        <img src="https://dev.azure.com/gidavies/MyDemoApp/_apis/build/status/MyDemoApp-Classic.CI" alt="Build Status" />
    </p>
</div>

<div class="row">
    <div class="flex-column col-xl-auto groundedcard">
        <div class="gcontainer">
            <h2 class="h2">Slides</h2>
            <p><a target="_blank" href="https://1drv.ms/p/s!Aio3rS2ZSnbL1oIDhdbomngYhhz5EA">Azure Application Development</a></p>
            <p><a target="_blank" href="https://1drv.ms/p/s!Aio3rS2ZSnbL1oEndA9U2YJCVhU6xw">Azure DevOps</a></p>
            <p><a target="_blank" href="https://1drv.ms/p/s!Aio3rS2ZSnbL1oIEL8BNhxsKDXruzQ">Migrating Apps using Containers</a></p>
            <p><a target="_blank" href="https://1drv.ms/p/s!Aio3rS2ZSnbL1oFRsCc09MuFCXbBGQ">Microsoft's journey to DevOps</a></p>
        </div>
    </div>

    <div class="flex-column col-xl-auto groundedcard">
        <div class="gcontainer">
            <h2 class="h2">Hands on Labs</h2>
            <p><a target="_blank" href="https://github.com/gidavies/AzureDevOpsLab">Azure DevOps</a></p>
            <p><a target="_blank" href="https://github.com/gidavies/MovingToInfraAsCodeLab">Infrastructure as Code</a></p>
            <p><a target="_blank" href="https://github.com/gidavies/SentimentLogicAppLab">Logic Apps</a></p>
        </div>
    </div>

    <div class="flex-column col-xl-auto groundedcard">
        <div class="gcontainer">
            <h2 class="h2">Webinars</h2>
            <p><a target="_blank" href="https://info.microsoft.com/UK-AZUREPLAT-WBNR-FY19-01Jan-17-ECMWebinarANS-AID-757675-MCW0011004_02OnDemandRegistration-ForminBody.html">Taking advantage of the cloud for dev and test environments</a></p>
            <p><a target="_blank" href="https://info.microsoft.com/UK-AZUREPLAT-WBNR-FY19-01Jan-31-ECMWebinarANS-AID-757675-MCW0011007_02OnDemandRegistration-ForminBody.html">Managing your work with Azure Boards and Azure Test Plans</a></p>
            <p><a target="_blank" href="https://info.microsoft.com/UK-AZUREPLAT-WBNR-FY19-02Feb-14-ReducingresponsibilitieswithPlatformasaService-AID-757675-MCW0011097_02OnDemandRegistration-ForminBody.html">Reducing your responsibilities with Platform as a Service</a></p>
            <p><a target="_blank" href="https://info.microsoft.com/UK-AZUREPLAT-WBNR-FY19-02Feb-28-FocusingpurelyonyoursolutionwithServerlessScreenMedia-AID-757675-MCW0011099_02OnDemandRegistration-ForminBody.html">Focusing purely on your solution with Serverless</a></p>
            <p><a target="_blank" href="https://info.microsoft.com/UK-AZUREPLAT-WBNR-FY19-03Mar-14-DeliveringvaluecontinuouslytoyourenduserswithDevOps-AID-757675-MCW0011124_02OnDemandRegistration-ForminBody.html">Delivering value continuously to your end users with DevOps</a></p>
        </div>
    </div>

</div>

<div class="row">

    <div class="flex-column col-xl-auto groundedcard">
        <div class="gcontainer">
            <h2 class="h2">Blog Posts</h2>
            <p><a target="_blank" href="https://blogs.msdn.microsoft.com/ukhybridcloud/2018/03/19/azure-devops-automate-app-service-slot-swaps-in-your-vsts-release-pipeline/">Automate App Service slot swaps in your release pipeline</a></p>
            <p><a target="_blank" href="https://blogs.msdn.microsoft.com/ukhybridcloud/2018/04/29/azure-devops-use-vsts-conditions-to-control-build-or-release-flow/">Use conditions to control build or release flows</a></p>
            <p><a target="_blank" href="https://blogs.msdn.microsoft.com/ukhybridcloud/2018/07/19/your-cloud-shell-session-will-be-ephemeral/">Your Cloud Shell session will be ephemeral</a></p>
            <p><a target="_blank" href="https://blogs.msdn.microsoft.com/ukhybridcloud/2018/08/10/building-an-azure-event-grid-app-part1-event-grid-topic-and-a-net-core-custom-app-event-publisher/">Building an Azure Event Grid app</a></p>
        </div>
    </div>

    <div class="flex-column col-xl-auto groundedcard">
        <div class="gcontainer">
            <h2 class="h2">Contact details</h2>
            <p>Email: <a href="mailto://giles.davies@microsoft.com">giles.davies@microsoft.com</a></p>
            <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="gilesdavies"><a class="LI-simple-link" href='https://uk.linkedin.com/in/gilesdavies?trk=profile-badge'>Giles Davies</a></div>
        </div>
    </div>

</div>
