@{
    ViewData["Title"] = "Webinars";
}

<h1>@ViewData["Title"]</h1>

<h2>Azure App Dev UK Webinar Series for UK Local and Regional Government available on demand now:</h2>

<div class="flex-column col-xl-auto groundedcard">
    <div class="gcontainer">
        <h2 class="h2">
            <a target="_blank" href="https://info.microsoft.com/UK-AZUREPLAT-WBNR-FY19-01Jan-17-ECMWebinarANS-AID-757675-MCW0011004_02OnDemandRegistration-ForminBody.html">Taking advantage of the cloud for dev and test environments</a>
        </h2>
        <p>
            Typically you’d like test (or non-production) environments to be available on demand, in a known clean state and as
            similar to production as possible. In this session learn how Azure can help you to provide test environments in a
            cost efficient manner, using services such as Azure Dev Test Labs and using practices like infrastructure as code.
        </p>
    </div>
</div>

<div class="flex-column col-xl-auto groundedcard">
    <div class="gcontainer">
        <h2 class="h2">
            <a target="_blank" href="https://info.microsoft.com/UK-AZUREPLAT-WBNR-FY19-01Jan-31-ECMWebinarANS-AID-757675-MCW0011007_02OnDemandRegistration-ForminBody.html">Managing your work with Azure Boards and Azure Test Plans</a>
        </h2>
        <p>
            Learn how you can use Azure Boards to track and plan your work, including use cases, tasks, backlogs, queries and
            dashboards, as well as support agile and lean approaches including Scrum and Kanban. We will also cover
            Azure Test Plans which provides the tooling for test case management, manual and exploratory tests.
        </p>
    </div>
</div>

<div class="flex-column col-xl-auto groundedcard">
    <div class="gcontainer">
        <h2 class="h2">
            <a target="_blank" href="https://info.microsoft.com/UK-AZUREPLAT-WBNR-FY19-02Feb-14-ReducingresponsibilitieswithPlatformasaService-AID-757675-MCW0011097_02OnDemandRegistration-ForminBody.html">Reducing your responsibilities with Platform as a Service</a>
        </h2>
        <p>
            Infrastructure as a Service (IaaS) allows you to rehost your virtual environments into Azure, and lose
            responsibility for the underlying host os, hardware, connections, power and so on. The Platform as a Service
            (PaaS) model takes the next step and removes the need for you to maintain, patch or upgrade the virtual
            machines themselves and instead focus on sizing and scalability. This session will explore Azure PaaS and
            how you could migrate to PaaS.
        </p>
    </div>
</div>

<div class="flex-column col-xl-auto groundedcard">
    <div class="gcontainer">
        <h2 class="h2">
            <a target="_blank" href="https://info.microsoft.com/UK-AZUREPLAT-WBNR-FY19-02Feb-28-FocusingpurelyonyoursolutionwithServerlessScreenMedia-AID-757675-MCW0011099_02OnDemandRegistration-ForminBody.html">Focusing purely on your solution with Serverless</a>
        </h2>
        <p>
            Focusing purely on your solution with Serverless Another option in the cloud computing models is Serverless.
            This goes beyond Platform as a Service (PaaS) by removing the need to manage sizing and scalability yourself,
            and simply focus on the application itself. Azure Serverless provides several capabilities including
            Functions, Logic Apps and Event Grid, and this webinar will introduce these so that you can understand where
            these approaches might fit your current or future architectures.
        </p>
    </div>
</div>

<div class="flex-column col-xl-auto groundedcard">
    <div class="gcontainer">
        <h2 class="h2">
            <a target="_blank" href="https://info.microsoft.com/UK-AZUREPLAT-WBNR-FY19-03Mar-14-DeliveringvaluecontinuouslytoyourenduserswithDevOps-AID-757675-MCW0011124_02OnDemandRegistration-ForminBody.html">Delivering value continuously to your end users with DevOps</a>
        </h2>
        <p>
            Adopting DevOps will help you move from infrequent, large and risky releases to more frequent, smaller and
            less risky releases, allowing you to deliver useful functionality (value) to your end users faster. This
            session will look at what DevOps is and how you can start to adopt DevOps practices for both Azure and
            on-premises.
        </p>
    </div>
</div>


